{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
    <title>ToDo</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <link rel="stylesheet" href="styles/checkbox.css">
</head>
<body>
 <section>
    <div class="create_container">
        <input
        class="create_input"
        type="text"
        placeholder="жаны тапшырма бер"
        />
        <button class="create_button">кошуу</button>
    </div>
    <div class="todo_container">

        <div class="todo_item">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Сут сатып алуу</h4>
            </div>
            <div class="todo_item_footer">
                <p>28.08.21<span>10:05</span></p>
                <div class="actions_buttons">
                    <img src="./icons/istockphoto-1069729858-1024x1024.jpg">
                    <img src="./icons/seo-social-web-network-internet_262_icon-icons.com_61518.png">
                </div>
            </div>
        </div>

        <div class="todo_item marked">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Сут сатып алуу</h4>
            </div>
            <div class="todo_item_footer">
                <p>28.08.21<span>10:05</span></p>
                <div class="actions_buttons">
                    <img src="./icons/istockphoto-1069729858-1024x1024.jpg">
                    <img src="./icons/seo-social-web-network-internet_262_icon-icons.com_61518.png">
                </div>
            </div>
        </div>

        <div class="todo_item done">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Сут сатып алуу</h4>
            </div>
            <div class="todo_item_footer">
                <p>28.08.21<span>10:05</span></p>
                <div class="actions_buttons">
                    <img src="./icons/istockphoto-1069729858-1024x1024.jpg">
                    <img src="./icons/seo-social-web-network-internet_262_icon-icons.com_61518.png">
                </div>
            </div>
        </div>

        <div class="todo_item marked">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Сут сатып алуу</h4>
            </div>
            <div class="todo_item_footer">
                <p>28.08.21<span>10:05</span></p>
                <div class="actions_buttons">
                    <img src="./icons/istockphoto-1069729858-1024x1024.jpg">
                    <img src="./icons/seo-social-web-network-internet_262_icon-icons.com_61518.png">
                </div>
            </div>
        </div>

        <div class="todo_item">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Сут сатып алуу</h4>
            </div>
            <div class="todo_item_footer">
                <p>28.08.21<span>10:05</span></p>
                <div class="actions_buttons">
                    <img src="./icons/istockphoto-1069729858-1024x1024.jpg">
                    <img src="./icons/seo-social-web-network-internet_262_icon-icons.com_61518.png">
                </div>
            </div>
        </div>

        <div class="todo_item done">
            <div class="todo_item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Сут сатып алуу</h4>
            </div>
            <div class="todo_item_footer">
                <p>28.08.21<span>10:05</span></p>
                <div class="actions_buttons">
                    <img src="./icons/istockphoto-1069729858-1024x1024.jpg">
                    <img src="./icons/seo-social-web-network-internet_262_icon-icons.com_61518.png">
                </div>
            </div>
        </div>

    </div>    
 </section>
</body>
</html>